/* Colors and font styles

dark bg:        --------    #302d2e
dark accent:    --------    #b09070
main color:     --------    #da5653
light accent:   --------    #e08e5d
whites:         --------    #f2f4f1
low contrast dark text:     #c6b2b2

Hero Main Text- 48px extra-bold
Hero Secondary text, Header Link Text- 18px
Header Logo Text- 24px

Information Header text- 26px extra-bold
Quote text- 36px light italic

*/
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #c6b2b2;
}

/* 
stole this from stack overflow
wanted a box shadow over the first div without being ruined
by adding a bg color to the second
idk man it works i guess
*/
#first{
    position:relative;
    z-index:2;
}

.container-main {
    background-color: #302d2e;
    display: flex;
    flex-direction: column;
    padding: 8px 256px;
    box-shadow: 0 8px 12px 8px #0000003a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    color: #f2f4f1;
    font-size: 24px;
}

.header-nav {
    font-size: 18px;
    display: flex;
    gap: 36px;
}

.content-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 96px 0;
}

.content-main-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 480px;
    gap: 32px;
}

.content-main-title {
    color: #f2f4f1;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -48px;
}

.content-main-text {
    color: #c6b2b2;
}

.content-main-button {
    background-color: #da5653;
    border: solid 2px #da5653;
    border-radius: 8px;
    box-shadow: 6px 6px 6px #00000066;
    color: #f2f4f1;
    width: 128px;
    padding: 8px 16px;
    font-size: 16px;
}

.content-main-image {
    max-width: 640px;
    max-height: 460px;
    flex: 0 1 0;
    border: solid 2px #b09070;
    border-radius: 32px;
    box-shadow: 12px 12px 12px 12px #00000066;
}

.content-gallery {
    background-color: #f2f4f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
}

.gallery-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 128px;
    gap: 64px;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: flex-start;
    gap: 24px 16px;
}

.gallery-card-image {
    width: 280px;
    height: 280px;
    border: solid 4px #e08e5d;
    border-radius: 64px;
    box-shadow: 0px 4px 4px 4px #00000022;
    flex: none;
}

.gallery-card-text {
    color: #302d2e;
    -webkit-flow-into: 17px;
    font-weight: lighter;
    flex: 1;
    width: 240px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 96px 296px;
    gap: 16px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    align-self: flex-start;
}

.quote-author {
    color: black;
    font-size: 24px;
    align-self: flex-end;
}

.container-action {
    background-color: #f2f4f1;
}